/////////////////////////////////////////////////
//LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////////////
//SEARCH BOX
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-color: var(--color-light-gray-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-light-gray-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      border-radius: 200px;
      width: 100%;
      background-color: var(--color-light-gray-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-dark-gray-3);
    }

    &:-ms-input-placeholder {
      font-weight: 100;
      color: var(--color-dark-gray-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-dark-gray-3);
    }
  }

  &__input:focus + button {
    background-color: var(--color-light-gray-3);
  }

  &__button {
    border: none;
    background-color: var(--color-light-gray-2);

    &:focus {
      outline: none;
    }

    &:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-dark-gray-3);
  }
}

///////////////////////////////////////////////
//USER NAV
.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
    
  &__user {
    position: relative;
  }

  //DROP DOWN MENU
  &__hover-menu--visible,
  &__hover-menu--hidden {
    background-color: var(--color-dark-gray-1);
    width: 12rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 1000;

    & ul {
      list-style: none;
      display: none;

      & li {
        margin-bottom: 1rem;
        
        & a:link,
        & a:visited {
          text-decoration: none;
          color: var(--color-light-gray-4);
          padding-bottom: .5rem;
          text-transform: uppercase;
          transition: all .2s;

          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  &__hover-menu--hidden {
    height: 0;
    padding: 0;
  }

  &__hover-menu--visible {
    height: 14rem;
    opacity: 1;
    transition: all .1s;
    padding: 3rem 2.5rem;
    
    & ul {
      display: block;
    }
  }
  //END OF DROPDOWN MENU

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  & > *:hover {
    background-color: var(--color-light-gray-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-dark-gray-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

///////////////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;
  
    &:not(:last-child) {
      margin-bottom: .5rem;

      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transition: width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s,
                  -webkit-transform .2s;
      transition: width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s,
                  -webkit-transform .2s;
      transition: transform .2s,
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;
      transition: transform .2s,
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s,
                  -webkit-transform .2s;
    }

    &:hover::before,
    &--active::before {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--color-light-gray-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;

    position: relative;
    z-index: 10;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media only screen and (max-width: $bp-medium) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

///////////////////////////////////////////////
//LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-light-gray-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

///////////////////////////////////////////////
//GALLERY

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

///////////////////////////////////////////////
//SIDE NAVIGATION

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--border);
 
  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__icon-stars, 
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__location {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 3rem;
    padding: 0 2.25rem;
    -ms-flex-item-align: stretch;
        align-self: stretch;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
     font-size: .5rem;
    }
  }
}

///////////////////////////////////////////////
// BUTTON INLINE
.btn--full {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  outline: none;
  border-radius: 200px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 5px gray;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  outline: none;  
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;

  & span {
    margin-left: 3px;
    -webkit-transition: margin-left .2s;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-dark-gray-1);

    & span {
      margin-left: 1rem;
    }
  }

  &:active {
    -webkit-transform: translateY(.1rem),;
            transform: translateY(.1rem),
  }
}



///////////////////////////////////////////////
//PARAGRAPH

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

///////////////////////////////////////////////
//LIST

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 2rem;
  border-top: var(--border);
  border-bottom: var(--border);
  -webkit-column-count: 2;
          column-count: 2;

  @media only screen and (max-width: $bp-smallest) {
    font-size: .9rem;
  }

  &__item {
    margin-bottom: .7rem;
    
    &::before {
      content: "";
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      margin-right: .7rem;

      //OLDER BROWSERS
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;
      background-repeat: no-repeat;
    
      //NEWER BROWSERS--MASKS
      @supports (-webkit-mask-image: url()) or (mask-image: url())  {
        background-color: var(--color-primary);
        -webkit-mask-image: url("../img/chevron-thin-right.svg");
              mask-image: url("../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
              mask-size: cover;
        background-image: none;
      }
    }
  }
}

///////////////////////////////////////////////
//RECOMMEND 

.recommend {
  font-size: 1.3rem;
  color: var(--color-dark-gray-3);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  @media only screen and (max-width: $bp-small) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &__count {
    margin-right: auto;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__photo {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

///////////////////////////////////////////////
//REVIEW

.review {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

 

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-light-gray-2);
    font-family: sans-serif;
    z-index: 1;
  }

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 10;
  }

  &__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__photo {
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-dark-gray-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
}


//SELECTED TEXT 
::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

///////////////////////////////////////////////
//REVIEW

.cta {
  text-align: center;
  padding: 2rem 0;
}





