.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-light-gray-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0 auto;
  }
}

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--border);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-smallest) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 11rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-dark-gray-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  //FLEX BASIS TO SET WIDTH OF CONTAINER
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
}

.hotel-view {
  background-color: var(--color-white);
  
  //FLEX BASIS TO SET WIDTH OF CONTAINER
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-light-gray-1);
  border-bottom: 1px solid var(--color-light-gray-2);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-right: 4.5rem; 

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}